body {
    height: 100%;
    background-color: rgb(255, 238, 206);
    border: solid 3px black;
}

* {
    padding: 0;
    margin: 0;

}

@font-face {
    font-family: 'Amiri1';
    src: url("Amiri1.ttf");
}

header {
    margin: 0%;
    padding: 0%;
    display: flex;
    height: 90px;
    border: solid 1px black;
    background-color: rgb(255, 0, 0);
    box-shadow: 2px 5px 7px gray;
    font-family: "Amiri1";
    position: sticky;
    top: 0.4px;
    z-index: 1000;
}

.right {
    position: absolute;
    right: 5px;
    top: 0px;
    padding: 4px;
    margin: 3px 3px;
}

.right img {
    width: 130px;
    height: 75px;
}

.right img :hover {
    cursor: pointer;
}


ul {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    font-size: 25px;
    margin-left: 50px;
    text-justify: center;
    text-align: center;
}

ul li {
    padding: 5px 10px;
    margin: 20px 10px;
}

ul li a {
    text-decoration: none;
    color: white;
    text-size-adjust: 5px;
}

ul li :hover {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: red;
}

.submenu {
    display: none;
}

.submenu li {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border: solid 1px;
    border-radius: 1px;
}

ul li:hover .submenu {
    display: block;
    position: absolute;
    margin-left: -10px;
    margin-top: 5px;
    list-style-type: none;
    background-color: rgb(255, 0, 0);
    color: rgb(253, 251, 251);
    z-index: 1000;
}

br {
    display: block;
    margin: -5px;
    border-bottom: 1px dashed gray;
    /* color: white; */
    height: 1.5px;
    width: 30px;
}
hr{
    margin-top: 10px;
      width: 100%;
      color: white;
    }
.submenu2 {
    display: none;
}

.submenu2 li {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border: solid 1px;
    border-radius: 1px;
}

ul li:hover .submenu2 {
    display: block;
    position: absolute;
    margin-left: -10px;
    margin-top: 5px;
    list-style-type: none;
    background-color: rgb(255, 0, 0);
    color: rgb(253, 251, 251);
    z-index: 1000;
}

.down img {
    width: 20px;
    filter: invert(100%);
    margin: -10px -4px;
}

.picture {
    margin-top: 12px;
}

.picture img {
    display: flex;
    width: 54%;
    box-shadow: 8px 5px 7px gray;
    height: 490px;
}

.book {

    display: block;
    width: 43%;
    box-shadow: 8px 5px 7px gray;
    padding: 2px 8px;
    margin: 0px;
    position: absolute;
    top: 105px;
    right: 10px;
    text-align: justify;  /* متن کو برابر سیدھا کرے گا */
    direction: rtl;       /* متن کو دائیں سے بائیں کرے گا */
    text-align-last: center; /* آخری لائن کو دائیں رکھے گا */
    width: 590px;
    font-size: 21px;
    font-family: 'Amiri';
    background-color: white;
}

.book p {
    line-height: 40px;
}

p span {
    color: rgb(131, 9, 9);
    text-decoration: underline;
    font-size: 28px;
}

.book p br {
    margin: 5px 0px
}

.author {

    font-size: 25px;
    font-family: 'Amiri';
    text-align: center;
    padding: 0px 20px;
    margin: 30px auto 0px 10px;
    align-content: center;
    /* box-shadow: 8px 5px 7px gray;
    background-color: #f2eeee;
    width: 95%; */
}

.sanad {
    font-size: 24px;
    font-family: 'Amiri';
    text-align: center;
    padding: 0px 0px 10px 0px;
    margin: 0px auto -10px 0px;
    align-content: center;
}

.sanad p {
    padding-bottom: 5px
}

.sanad span {
    color: rgb(131, 9, 9);
    text-decoration: underline;
    font-size: 30px;
}

.sana {
    font-size: 25px;
    font-family: 'Amiri';
    text-align: center;
    padding: 0px 20px;
    margin: 10px auto 0px 10px;
    align-content: center;
    /* background-color: white; */
    /* box-shadow: 8px 5px 7px gray;
    width: 95%; */
}

/* .sana p {
    padding-bottom: 5px
} */

.sana span {
    color: rgb(131, 9, 9);;
    text-decoration: underline;
    font-size: 29px;
}

.sana table {
    margin: auto;
    background-color: white;
    color: rgb(131, 9, 9);
    direction: rtl;
    text-align: center;
    width: 60%;
    margin-bottom: 10px;
}

table,
th,
td {
    border-collapse: collapse;
    font-family: Amiri1;
    padding: 5px 0px;
    margin: 5px 0px;
}

td {
    border: solid 2px;
    border-color: red;
    font-family: Amiri1;
    font-size: 25px;
    padding: 5px 3px;
    margin: 5px 0px;
}

.writhenbook {
    font-size: 25px;
    font-family: 'Amiri';
    text-align: center;
    padding: 0px 20px;
    margin: 10px auto 0px 10px;
    align-content: center;
}

details summary {
    padding: 4px 15px;
    width: 100%;
    background-color: white;
    border: solid 1px rgb(216, 6, 6);
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
    text-align: right;
    color: rgb(131, 9, 9);
    font-size: 30px;
    margin-left: -15px;
    margin-bottom: 8px;
    margin-top: -15px;
    border-radius: 10px;
  }
  summary:hover{
    border-color: #007BFF;
    color: #007BFF;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.2);
  }
  
  details p {
    background-color: white;
    padding: 4px;
    margin: -5px -15px 10px -15px;
    box-shadow: 1px 1px 2px #bbbbbb;
    border-radius: 10px;
    border: solid 1px rgb(216, 6, 6);
    text-align: justify;  /* متن کو برابر سیدھا کرے گا */
    direction: rtl;       /* متن کو دائیں سے بائیں کرے گا */
    text-align-last: center; /* آخری لائن کو دائیں رکھے گا */
    width: auto;
  }