* {
    margin: 0;
    padding: 0;
}
body {
    background-color: wheat;
    border: 5pt solid rgb(100, 100, 100);
}

@font-face {
    font-family: 'Amiri1';
    src: url("Amiri1.ttf");
}

header {
    margin-bottom:10px;
    display: flex;
    border: solid 1px black;
    height: 90px;
    background-color: rgb(255, 0, 0);
    /* padding: 0px; */
    box-shadow: 2px 5px 7px gray;
    font-family: "Amiri1";
    position: sticky;
    top: 0.4px;
    z-index: 1000;
}

.right {
    position: absolute;
    right: 5px;
    top: 0px;
    padding: 4px;
    margin: 3px 3px;
}

.right img {
    width: 130px;
    height: 75px;
}
.right img :hover{
    cursor: pointer;
}


ul {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    font-size: 25px;
    margin-left: 50px;
    text-justify: center;
    text-align: center;
}

ul li {
    padding: 5px 10px;
    margin: 20px 10px;
}

ul li a {
    text-decoration: none;
    color: white;
    text-size-adjust: 5px;
}

ul li :hover {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: red;
}

.submenu {
    display: none;
}

.submenu li {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border: solid 1px;
    border-radius: 1px;
}

ul li:hover .submenu {
    display: block;
    position: absolute;
    margin-left: -10px;
    margin-top: 5px;
    list-style-type: none;
    background-color: rgb(255, 0, 0);
    color: rgb(253, 251, 251);
    z-index: 1000;
}

br {
    display: block;
    margin: -5px;
    border-bottom: 1px dashed gray;
    color: white;
    height: 1.5px;
    width: 30px;
}
hr{
    margin-top: 10px;
      width: 100%;
      color: white;
    }
.submenu2 {
    display: none;
}

.submenu2 li {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border: solid 1px;
    border-radius: 1px;
}

ul li:hover .submenu2 {
    display: block;
    position: absolute;
    margin-left: -10px;
    margin-top: 5px;
    list-style-type: none;
    background-color: rgb(255, 0, 0);
    color: rgb(253, 251, 251);
    z-index: 1000;
}
.down img {
    width: 20px;
    filter: invert(100%);
    margin: -10px -4px;
}
details summary {
    color: red;
    font-family: 'Amiri1';
    font-style: bold;
    font-size: 30px;
    padding: 7px 0px;
    text-align: right;
    background-color: wheat;
}
summary:hover{
    border-color: #007BFF;
    color: #007BFF;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.2);
}
.abale {
    font-size: 24.5px;
    font-family: 'Amiri';
    padding-left:  10px;
    margin: 10px auto 0px 10px;
    align-content: center;
    /* box-shadow: 8px 5px 7px gray; */
    background-color: wheat;
    text-align: justify;  /* متن کو برابر سیدھا کرے گا */
    direction: rtl;       /* متن کو دائیں سے بائیں کرے گا */
    text-align-last: center; /* آخری لائن کو دائیں رکھے گا */
    width: 97%;
}
.abale h1{
    margin: auto;
    width: 60%;
    border: 1px solid black;
    box-shadow: 5px 5px 5px gray;
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 5px;
    font-family: Amiri1;
    font-size: 30px;
}
.abale p{
    padding-bottom: 5px
 }
.abale span {
    color: red;
    text-decoration: underline;
    font-size: 35px;
}
.abale table {
    margin: auto;
    background-color: wheat;
    color: rgb(131, 9, 9);
    direction: rtl;
    text-align: center;
    width: 60%;
    margin-bottom: 10px;
}
table,
th,
td {
    border-collapse: collapse;
    font-family: Amiri1;
    padding: 5px 0px;
    margin: 5px 0px;
}
td {
    border: solid 2px;
    border-color: red;
    font-family: Amiri1;
    font-size: 25px;
    padding: 5px 3px;
    margin: 5px 0px;
}

h1 {
    margin: auto;
    width: 40%;
    border: 1px solid black;
    box-shadow: 5px 5px 5px gray;
    text-align: center;
    background-color: rgb(225, 14, 14);
    color: white;
    padding: 5px;
    font-family: Amiri1;
}

#one {
    width: 2px;
    height: 70px;
    background-color: red;
    /* border: solid 0.05px black; */
    margin: auto;
}

#two {
    width: 994px;
    height: 2px;
    background-color: red;
    /* border: solid 0.05px black; */
    margin: auto;
}

#three {
    display: inline-block;
    width: 2px;
    height: 70px;
    background-color: red;
    /* border: solid 0.05px black; */
    margin: 0% 12.9%;
}

#foure {
    display: inline-block;
    width: 2px;
    height: 70px;
    background-color: red;
    /* border: solid 0.05px black; */
    margin: 0% 12.90%;
}

#five {
    display: inline-block;
    width: 2px;
    height: 70px;
    background-color: red;
    /* border: solid 0.05px black; */
    margin: 0% 12%;
}

#six {
    display: inline-block;
    width: 2px;
    height: 70px;
    background-color: red;
    /* border: solid 0.05px black; */
    margin: 0% 10.10%;
}
.manhaj {
    display: flex;
    flex-direction: row-reverse;
    font-family: Amiri1;
    font-size: 25px;
    text-align: right;
}
.manhaj1 {
    border: 1.50px solid red;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 70px;
}
.manhaj2 {
    border: 1.50px solid red;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 45px;
}
.manhaj3 {
    border: 1.50px solid red;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 98px;
}
.manhaj4 {
    border: 1.50px solid red;
    border-radius: 5px;
    padding: 5px;
    margin: 0px -10px;
}
.minitype #one {
    width: 2px;
    height: 70px;
    background-color: red;
    /* border: solid 0.05px black; */
    margin: auto 525px;
}

.minitype #two {
    width: 670px;
    height: 2px;
    background-color: red;
    /* border: solid 0.05px black; */
    margin: auto 190px;
}
.minitype #three {
    display: inline-block;
    width: 2px;
    height: 70px;
    background-color: red;
    /* border: solid 0.05px black; */
    margin: 0% 14.20%;
}

.minitype #foure {
    display: inline-block;
    width: 2px;
    height: 70px;
    background-color: red;
    /* border: solid 0.05px black; */
    margin: 0% 472px;
}
.minitype1 {
    display: flex;
    flex-direction: row-reverse;
    font-family: Amiri1;
    font-size: 20px;
    text-align: right;
}
.manhaj5 {
    border: 1.50px solid red;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0px 309px;
}.manhaj6 {
    border: 1.50px solid red;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 75px;
}
hr{
    margin-top: 15px;
}
